@model  IEnumerable<PhotoExplorer.Web.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<h2>EXPLORE</h2>

@*DISPLAY ALL USERS ALBUMS PHOTOS*@
<div class="container" style="background-color:Highlight;">
    <h3>Photos</h3>
    @{
        <p>
            @Html.ActionLink("Upload New Photo", "Create", "Photo", null, null)
        </p>
        <table class="table">
            <tr>
                <th>
                    Filename:
                </th>
                <th>
                    Description:
                </th>
                <th>
                    DateCreated:
                </th>
                <th>
                    DateChanged:
                </th>
                <th>
                    Uploaded By:
                </th>
                <th></th>
            </tr>

            @{
                foreach (var user in Model)
                {
                    foreach (var album in user.Albums)
                    {
                        @Html.Partial("_Photos", album)
                    }
                }
            }
        </table>
    }
</div>

@* DISPLAY ALL USERS ALBUMS *@
<div class="container" style="background-color:lemonchiffon;">
    <h3>Albums</h3>
    @{
        <p>
            @Html.ActionLink("Create New Album", "Create", "Album", null)
        </p>
        <table class="table">
            <tr>
                <th>
                    Name:
                </th>
                <th>
                    Description:
                </th>
                <th>
                    DateCreated:
                </th>
                <th></th>
            </tr>

            @foreach (var user in Model)
            {
                @Html.Partial("_Albums", user)
            }
        </table>
    }
</div>

@*DISPLAY ALL USERS*@
<div class="container" style="background-color:blanchedalmond;">
    <h3>Other Users</h3>
    @{
        @Html.Partial("_Users", Model)
    }
</div>
