@model  IEnumerable<PhotoExplorer.Web.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<h2>EXPLORE</h2>
<div class="container" style="background-color:lemonchiffon">
    @*DISPLAY ALL USERS ALBUMS PHOTOS*@
    <section>
        <h3>Photos</h3>
        @{

            <p>
                @Html.ActionLink("Upload New Photo", "Create", "Photo", null, null)
            </p>


            foreach (var user in Model)
            {
                foreach (var album in user.Albums)
                {
                    @Html.Partial("_Photos", album)
                }
            }

        }
    </section>

    @* DISPLAY ALL USERS ALBUMS *@
    <section>
        <h3>Albums</h3>
        @{
            <p>
                @Html.ActionLink("Create New Album", "Create", "Album", null)
            </p>
            <table class="table">
                <tr>
                    <th>
                        Name:
                    </th>
                    <th>
                        Description:
                    </th>
                    <th>
                        DateCreated:
                    </th>
                    <th></th>
                </tr>

                @foreach (var user in Model)
            {
                    @Html.Partial("_Albums", user)
                }
            </table>
        }
    </section>

    @*DISPLAY ALL USERS*@
    <section>
        <h3>Other Users</h3>
        @{
            @Html.Partial("_Users", Model)
        }
    </section>
</div>
