@model PhotoExplorer.Web.Models.UserViewModel

<div class="container">
    <h2>@Model.Username Details</h2>
    <article class="user">
        <div class="col-lg-6 col-md-6 col-xs-6">
            <i class="glyphicon glyphicon-user" style="font-size:36px;"></i>
            <div style="display:flex;flex-direction:column;">
                <small style="font-weight:800">Fullname: @Model.Fullname</small>
                <small>Date Registered: @Model.DateRegistered</small>
                <small>Username: @Model.Username</small>
            </div>
            @Html.Partial("_Albums", Model)
        </div>
    </article>
</div>