@model PhotoExplorer.Web.Models.UserDetailsViewModel

<div class="container">
    <h2>@Model.Username Details</h2>
    <article class="user">
        <div class="col-lg-6 col-md-6 col-xs-6" style="background-color:lemonchiffon">
            <i class="glyphicon glyphicon-user" style="font-size:36px;"></i>
            <div style="display:flex;flex-direction:column;">
                <small style="font-weight:800">Fullname: @Model.Fullname</small>
                <small>Date Registered: @Model.DateRegistered</small>
            </div>
            <div>
                <small>@Html.ActionLink("Create New Album", "Create", "Album")</small>
            </div>
            <div>
                <h3>@Model.Username's Album(s)</h3>
                @Html.Partial("_AlbumsPartial", Model) 
            </div>
        </div>
    </article>
</div>