@*tell this view about the modell
    that is getting passed in from controller using a directive
    @model. very important too have the model m in lowercase.*@

@model Lab01.Models.GalleryModel

@{
    ViewBag.Title = "ShowGallery";
}

<h2>@ViewBag.Title</h2>
<article>
    <h2>@Model.GalleryName</h2>
    <p>@Model.GalleryOwner</p>

    @{
        foreach (var imgPath in Model.ImagePaths)
        {
            string imgUrl = @Path.GetFileName(imgPath); //get only the imagename and extension
            <img src="/Content/images/@imgUrl" alt="image" width="320" />
        }
    }
</article>
