@*tell this view about the modell
    that is getting passed in from controller using a directive
    @model. very important too have the model m in lowercase.*@

@model Lab01.Models.Gallery

@{
    ViewBag.Title = "Photo Gallery";
}

<h2>@ViewBag.Title</h2>
<article>
    <h2>@Model.GalleryName</h2>
    <h4>@Model.GalleryOwner</h4>


    <figure>
        @{
            foreach (var imgPath in Model.ImagePaths)
            {
                string imgUrl = @Path.GetFileName(imgPath); //eg. returns only "code1.jpg" etc.

                <img src="/Content/images/@imgUrl" alt="image" width="320" />
                <figcaption>image: @imgUrl</figcaption>
                <br />
            }
        }
    </figure>
</article>
