@*tell this view about the modell
    that is getting passed in from controller using a directive
    @model. very important too have the model m in lowercase.*@

@model Lab01.Models.GalleryModel

@{
    ViewBag.Title = "ShowGallery";
}

<h2>@ViewBag.Title</h2>
<article>
    <p>@Model.GalleryName</p>
    <p>@Model.GalleryOwner</p>

    @{
        // TODO: display all the images from the app_data images folder dynamically
        foreach (var imgPath in Model.ImagePaths)
        {
            <img src='@Url.Content(imgPath)' width="220" />
        }
    }

    <div>
        <img src='@Url.Content("~/Content/Images/code1.jpg")' width="320" />
        <img src='@Url.Content("~/Content/Images/code2.jpg")' width="320" />
        <img src='@Url.Content("~/Content/Images/code3.jpg")' width="320" />
        <img src='@Url.Content("~/Content/Images/code4.png")' width="320" />
        <img src='@Url.Content("~/Content/Images/code5.jpg")' width="320" />
    </div>

</article>
