@model PhotoExplorer.Web.Models.PhotoDetailsViewModel

<style>
    .TopSpace {
        padding-top: 25px;
    }
</style>

<section>
    <div class="col-lg-12 col-md-12 col-xs-12 thumb TopSpace">
        <h2>@Model.Name</h2>
        <small>Uploaded by: @Model.User.Username</small>
        <br />
        <small>Last Edited: @Model.DateChanged</small>
        <img class="img-responsive" src="~/photos/@Model.FileName">
        <p>@Model.Description</p>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 TopSpace">

        @* the options settings for the ajax call below *@
        @{
            var ajaxOptions = new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "comments_id", //the portion of the page that you want to update
                InsertionMode = InsertionMode.Replace,//the contents of 'comments_id' are replaced
            };
        }
        @* make a comment on the photo using ajax *@
        @{
            if (User.Identity.IsAuthenticated)
            {
                using (Ajax.BeginForm(
                        actionName: "Comment",
                        controllerName: "Photo",
                        ajaxOptions: ajaxOptions,
                        routeValues: new { id = Model.Id }))
                {
                    <textarea name="txt_comment" placeholder="Enter comment..." cols="220"></textarea>

                    <input type="submit" value="Add" class="btn-default" />
                }
            }
            else
            {
                @Html.ActionLink("Login to Comment", "Login", "Authenticate")
            }
        }


    </div>

    <div id="comments_id" class="col-lg-12 col-md-12 col-xs-12 TopSpace">
        @{
            if (Model.Comments.Count > 0)
            {
                @* all comments for the current photo model*@
                @Html.Partial("_PhotoComments", Model);
            }
            else
            {
                if (User.Identity.IsAuthenticated)
                {
                    <small>be the first to comment...</small>
                }
            }
        }
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12 TopSpace">
        @Html.ActionLink("Edit", "PhotoEdit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index", "Dashboard") | 
        @Html.ActionLink("Delete this photo", "PhotoDeletePartial", new { id = Model.Id })
    </div>
</section>