@model PhotoExplorer.Web.Models.PhotoEditViewModel

@{
    ViewBag.Title = "PhotoEdit";
}

<h2>PhotoEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PhotoEditViewModel</h4>
        <hr />

        @* getting the id from the url into the form and passing it into ajax, which can now cathc the id because
        its part of the form, and gets passed into action finnally as id argument (which is the album id so we can find
            the photo) *@
        <input type="hidden" class="form-control" id="id" name="id" value="@Url.RequestContext.RouteData.Values["id"]" />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    <img src="~/icons/ring.gif" class="loader" style="border:none;" />
</div>
<div id="photoedit-msg" style="color:#c6a3ff;">

</div>

<div>
    @Html.ActionLink("Back to List", "index")
</div>

<script src="~/scripts/jquery-3.1.1.js"></script>
<script src="~/scripts/edit.photo.js"></script>