@model Lab01.Models.Photo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@* specifies that the form  *@
@using (Html.BeginForm(
                actionName: "Create",
                controllerName: "Photo",
                method: FormMethod.Post,
                htmlAttributes: new { enctype = "multipart/form-data"}))
{

    @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Photo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>*@

            @* CHOOSE FILE TO UPLOAD *@
            <div class="form-group">
                @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="fileToBeUploaded" id="fileToBeUploaded" /> @*file 'name' has to be the same as in the controller parameter for the httpPostedFile*@ 
                    @Html.ValidationMessageFor(model => model.Path, "", new { @class = "text-danger" })
                </div>
            </div>

            @* ADD DESCRIPTION TO IMAGE *@
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            @* SUBMITS THE FORM *@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" id="upload" class="btn btn-default" />
                </div>
            </div>
        </div>
    
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
