@model IEnumerable<Lab01.Models.Photo>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    string imgUrl = @Path.GetFileName(item.Path);
                    <img src="/Content/images/@imgUrl" alt="image" width="320" />
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @* display image naem here *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*
                    the id gets sent back (for preview and delete actionlinks) into the controller with the arguments
                    specified going through the actioncontroller parameters
                *@

                @Html.ActionLink("Details", "Details", "Photo", new { @id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Photo", new { @id = item.Id }, null)
            </td>
        </tr>
    }

</table>
