@model IEnumerable<Lab01.Models.Photo>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUploaded)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    string imgUrl = @Path.GetFileName(item.Path);
                    <img src="/Content/images/@imgUrl" alt="image" width="320" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUploaded)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Photo", new { @id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Photo", new { @id = item.Id }, null)
            </td>
        </tr>
    }

</table>
