@model MvcLab.Web.Models.UserModel


@* default user details bootstrap *@
<div>
    <h4>@Model.Username</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateRegistered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegistered)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserModelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>






@* custom user details *@
<div>
    <h4>@Model.Username Albums</h4>
    @{
        if (Model.Albums.Count == 0)
        {
            <h4>@Model.Username doesnt have any albums yet...</h4>
        }
        else
        {
            foreach (var album in Model.Albums)
            {
                <h4>@album.Name</h4>
                <div class="table-bordered" style="padding:15px">
                    @Html.ActionLink(album.Name, "Details", "Album", new { id = album.AlbumModelId, type = "AlbumModel" }, null);
                    <small>(@album.DateCreated) - @album.Photos.Count photos</small>
                </div>
            }
        }
    }
</div>

@Html.ActionLink("Create Album", "Create", "Album", new { id = Model.UserModelId }, null)
