@model IEnumerable<MvcLab.Web.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

@{
    foreach (var user in Model)
    {
        <section>
            <h4>@user.Firstname @user.Lastname (@user.Username)</h4>
            <p>Date Registered: @user.DateRegistered</p>
            @Html.ActionLink("Profile", "Details", "User", new { id = user.UserModelId }, null)
            <hr />
        </section>
    }
}