@model IEnumerable<MVCPhotoAlbums.Models.UserModel>
@{
    ViewBag.Title = "Index";
}

<h2>User.Index</h2>

@{
    foreach (var user in Model)
    {
        <section>
            <h4>@user.Firstname @user.Lastname (@user.Username)</h4>
            <p>Date Registered: @user.DateRegistered</p>
            @Html.ActionLink("Profile", "Details", "User", new { id = user.Id, email = user.Email, Type = "UserModel" }, null)
            <hr />
        </section>
    }
}