@model PhotoExplorer.Web.Models.AlbumModel

@*<table class="table">
        <tr>
            <td>
                <i class="glyphicon glyphicon-folder-close" style="font-size:36px;"></i>
            </td>
            <td>
                @Html.DisplayFor(a => a.Name)
            </td>
            <td>
                @Html.DisplayFor(a => a.Description)
            </td>
            <td>
                @Html.DisplayFor(a => a.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            </td>
        </tr>
    </table>*@


<article class="album">

    <div class="col-lg-2 col-md-2 col-xs-4">
        <a href="@Url.Action("Details","Album",new {id=Model.Id },null)">
            <i class="glyphicon glyphicon-book" style="font-size:36px;"></i>
        </a>
        <div style="display:flex;flex-direction:column;">
            <small style="font-weight:800">@Model.Name</small>
            <small>@Model.DateCreated</small>
            <small>Username</small>
        </div>

    </div>
</article>
