@model PhotoExplorer.Web.Models.AlbumModel

@foreach (var photo in Model.Photos)
{
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => photo.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => photo.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => photo.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => photo.DateChanged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => photo.UploadedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = photo.Id }) |
            @Html.ActionLink("Details", "Details", new { id = photo.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = photo.Id })
        </td>
    </tr>*@

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="@Url.Action("Details","Photo",new {id=photo.Id },null)">
            <img class="img-responsive" src="~/photos/@photo.FileName" alt=""> @*VALIDATE IF THIS PATH IS LEGIT*@
        </a>
    </div>

}

